@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root{
    --red:#ec2227;
   --small-color:#313131;
   --h2-color:#535353;
   --p-color:#686868;
   --plan-feature-color:#616160;
   --backgroud-color:#f3f4f6;
}

/** body **/
body{
    font-family: 'Open Sans', sans-serif;
    margin:0; 
    background-color: var(--backgroud-color); 
}
*{
    box-sizing: border-box;
}
.col-container{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    margin:60px;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    padding:32px 16px;
    width:90%;

}
.left-col{
    padding:20px;
    flex:50%;
}
.right-col{
    padding:10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-content-left{
    padding:10px 20px;
}
.col-content-right{
    max-width:600px;
    padding:10px 40px;
}
img{
    max-width:500px;
    max-height: 372px;
}
h2{
    font-size: 28px;
    color: var(--h2-color);
}
p{
    font-size: 16px;
    color:var(--p-color);
    font-weight: 400;
    line-height: 1.5;
}
.plan-info{
    background-color: #fff4f4;
    padding:10px 0;
    border-radius: 6px;
    max-width:inherit;
    height: 372px;
    overflow: scroll;
}
.head{
    padding: 10px 20px;
    width: inherit;
    text-align: center;
}
.plan-heading{
    color:var(--red);
    padding:2px 6px;
    opacity: .75;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.63;
    border-bottom: 2px solid var(--red);
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    width:204px;


}
label{
    color:var(--h2-color);
    font-weight: 700;
    font-size: 1rem;
    margin:20px 0 40px 0;
    text-align: left;
}
ul{
    padding:0 28px;
    margin:10px;
}
.li{
    display: inline-flex;
    list-style: none;
    color:var(--plan-feature-color);
    padding:0 14px;
    margin:0 10px;
    font-weight: 400;
    line-height: 1.5;
}
.fas{
    margin-top: 4px;
}
.fa-check{
    color:#2dbf1d;
    margin-right: 20px;
    font-size: 15px;
}
.xmark{
    color:var(--red);
    margin-top: 4px;
    margin-right: 20px;
    width:15px;
    height: 15px;
}
.plan-item{
    margin-top:0;
}
.no-access{
    text-decoration: line-through;
}

.right-col-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
}
button{
    color:white;
    background-color: var(--red);
    font-weight: 400;
    font-size: 19px;
    border:none;
    padding:10px 20px;
    display: block;
    margin:0 20px 10px 20px;
    line-height: 1.6;
    cursor: pointer;
    border-radius: 2px;
}
small{
    padding-top:20px;
    font-weight: 700;
}
a{
    text-decoration: none;
    color:var(--red);
    cursor: pointer;
}
@media(max-width:1024px){
    .left-col{
        max-width:70%
    }
    .right-col{
        max-width: 70%;
    }
    .col-content-right{
        padding:0 10px;
    }
    img{
        text-align: center;
        max-width:400px;
        max-height: 210px;
    }
    .plan-info{
        max-width: 400px;
    }
    label{
        font-size: 12px;
    }
    small{
        font-size: 12px;
    }

}
@media(max-width:700px){
    .col-container{
        flex-direction: column;
        margin:0 10px;
        width:100%;
    }
    .left-col{
        max-width: 400px;
    }
    .right-col{
        max-width: 100%;
    }
    .col-content-right{
        padding:0 10px;
    }
    img{
        max-width:400px;
        max-height: 210px;
    }
    .plan-info{
        max-width: 400px;
    }
    label{
        font-size: 12px;
    }
    small{
        font-size: 12px;
    }

}